// Import page-specific CSS files here.
@import "home";

.btn-primary {
  border-radius: 8px;
  text-decoration-color: white;
  text-decoration: aliceblue;
}

.btn-dark{
  border-radius: 10px;
  background-color:#fc3463;
  margin-left: 25px;
  border: none;
  transition-duration: 0.2s;
  .btn-dark:hover {
    background-color: #fc3463;
  }
}

.search{
  background-color: #fc3463;
  font-family: 'Familjen Grotesk';
}

.buttonrent{
  border-radius: 8px;
  text-decoration-color: white;
  text-decoration: rgb(34, 119, 193);
}

.card {
  border-radius: 8px;
  padding: 0;
  background-color: #adaaaa;
  box-shadow: 3px 3px 5px rgb(79, 78, 78) ;
  border-color: white;
}

.flat-banner {
  background-color: white;
}

.card1 {
  max-height : 200px;
  border-radius: 8px;
  padding: 0;
  background-color: white;
  box-shadow: 3px 3px 5px black ;
  position: sticky;
  top: 20px;
}


.card-title {
  font-size: large;
  margin-bottom: 30px;
  font-weight: bolder;
}

.flat-photo {
  background-size: cover;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}

.show-photos {
  border-radius: 10px;
  margin-right: 20px;
}

.card-description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

#search-form {
  margin: 8px auto;
  margin-top: 20px;
  margin-bottom: 35px;
  max-width: 540px;
}

.form-control {
  border-radius: 10px;
}

.row {
  display: flex;
}

.item {
  display: flex;
  flex-direction: column;
}

.item.left {
  flex-direction: row;
}

.item.left .well {
  width: 100%;
  align-self: stretch;
}

.item.left .well img {
  height: 100%;
}

.buttonbooking {
  margin-left: 0;
  margin-top: 20px;

.peticons img {
  width: 50px;
  align-items: center;
  border-radius: 100%;
}

.form-check {
  width: 75px;
  text-align: center;
  margin: 10px;
  align-content: space-between;
}

img.peticons {
  width: 35px;
  border-radius: 100px;
}

.peticons fieldset{
  display: flex;
  flex-direction: column;
  align-items: center;
}
