// Import page-specific CSS files here.
@import "home";

.btn-primary {
  border-radius: 8px;
}

.card {
  border-radius: 8px;
  padding: 0;
  background-color: transparent;
  box-shadow: 3px 3px 5px black ;
}

.card-title {
  font-size: large;
  margin-bottom: 30px;
  font-weight: bolder;
}

img {
  background-size: cover;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}

.card-description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

#search-form {
  margin: 8px auto;
  margin-top: 20px;
  margin-bottom: 35px;
  max-width: 540px;
}

.buttonsearch {
  margin-left: 25px;
}

.form-control {
  border-radius: 10px;
}
