<% content_for(:navbar_class, "navbar-home") %>

<div class="banner">
  <div class="banner-content text-center">
    <h1><strong>OMG,</strong> DID YOU HEAR THAT ?</h1>
      <p>It's never been simpler to find a place for you and your pet !</p>
      <%= link_to "Explore Now! ", new_user_session_path, class: "btn bt-lg btn-primary" %>
  </div>
</div>
