.banner {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), image-url("Peyyhouse.jpg");
  background-size: cover;
  padding-top: 200px;
  }

  h1 {
    font-weight: bold;
    font-size: 38px;
    margin-bottom: 10px;
  }

  p {
    font-size: 23px;
    font-weight: lighter;
    margin-bottom: 40px;
  }

  .btn {
    padding: 15px 50px;
    font-weight: bolder;
  }

  .btn-primary {
    border-radius: 8px;
  }
