.banner {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: image-url("BGHome1.jpg");
  background-size: cover;
  padding-top: 200px;
  }

  .nav-link {
    font-family: 'Familjen Grotesk', sans-serif;
    font-size: 18px;
    font-weight: lighter;
    padding-right: 400px;
    color: #fff;
  }

  h1 {
    font-weight: bold;
    font-size: 38px;
    margin-bottom: 10px;
  }

  .slogan {
    font-family: 'Familjen Grotesk', sans-serif;
    font-size: 28px;
    font-weight: lighter;
    margin-bottom: 40px;
    color:white;
  }

  .buttonhome {
    padding: 15px 50px;
    font-weight: bolder;
  }

  .btn-primary {
    border-radius: 8px;
  }

  .glow {
    text-align: center;
    font-size: 3em;
    margin: 50px 0 30px 0;
    cursor:pointer;
    transition: all 0.5s;
  }

  .glow:nth-child(1) {
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    animation: red 1.5s ease-in-out infinite alternate;
    font-weight:700;
  }

  .glow:nth-child(1):hover {
    color: #fc3463;
    animation: none;
  }

  @keyframes red{
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
    }
  }
