.navbar-lewagon {
  justify-content: space-around;
  background: rgb(51, 51, 51);
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  box-sizing: border-box;
}

.navbar-home {
  background: transparent;
  box-shadow: none;
  position: absolute;
  width: 100%;
  .navbar-link {
    color: black;
    font-weight: bold;
  }
  .navbar-brand{
    img {
      opacity: 0
    }
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}
